@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;400;500;700;900&display=swap');

/* estilos globales */
:root{
    --very-light-pink:#c7c7c7;
    --hospital-green: #ACD9B2;
    --text-input-field:#f7f7f7;
    --white: #ffff;
    --black: #000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

*{
    margin: 0;
    font-family: 'Quicksand';
}
.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    
}

.container{
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 200px;
    justify-self: center;
    display: none;
    
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.label{
    font-size: var(--sm);
    font-weight: 600;
    margin-bottom: 4px;
}
.input{
    border: none;
    border-radius: 8px;
    background-color: var(--text-input-field);
    height: 28px;
    margin-bottom: 10px;
    margin-left: 2px;
    padding: 4px;
}

.primary-button{
    background-color: var(--hospital-green);
    border: none;
    border-radius: 8px;
    height: 50px;
    color: var(--white);
    font-size: var(--sm);
    font-weight: bold;
    cursor: pointer;
}

.log-button{
    margin-top: 30px;
    
}

.link{
    text-align: center;
    margin-top: 30px;
    font-size: var(--sm);
    color: var(--hospital-green);
    text-decoration: none;
    font-weight: 500;
}

.secondary-button{
    margin-top: 135px;
    background-color: var(--white);
    font-size: var(--md);
    color: var(--hospital-green);
    border: var(--hospital-green) 2px solid;
    border-radius: 8px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width:500px){
    .logo{
        display: block;
    }
    .container{
        justify-content: space-between;
    }

    .logo{
        margin-top: 230px;
    }
    
    .link{
        margin-bottom: 30%;
    }
    .secondary-button{
        margin-bottom: 16px;
    }
    
}